<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twitter Health</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if request.path.startswith("/labeler/") %} class="active"{% endif %}>
            <a href="/labeler/">Labeler</a>
              {% if request.path.startswith("/labeler/") %}<span class="sr-only">(current)</span>{% endif %}
        </li>
        <li {% if request.path == "/twsurvey/" %} class="active"{% endif %}>
            <a href="#twsurvey" data-toggle="modal">TwSurvey</a>
              {% if request.path == "/twsurvey/" %}<span class="sr-only">(current)</span>{% endif %}
            </a>
        </li>





      </ul>
            <div class="modal fade" id="twsurvey" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><Center>Do you have a twitter Account?</Center></h3>
            </div>
            <div class="panel-body">
        {% block body %}
      <a href="{{ url_for('twsurvey.login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>

{% endblock %}
              <center><a class="btn btn-primary" data-dismiss="modal">Close</a></center>
            </div>
          </div>
        </div>
      </div>
    </div>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Not Functional">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
